dnspython does not support alternative ordering specified in RFC 1035

**Describe the bug**
I am having trouble parsing zone information when the TTL information appears after the `[<class>]` as in the sample file below ....for the line `sample.com. IN 600 A 120.130.128.70`.

Seems like both the forms are valid from RFC 1035, Section 5 and only the first one is supported:
`[<domain>] [<TTL>] [<class>] <type> <RDATA>`

`[<domain>] [<class>] [<TTL>] <type> <RDATA>`

**To Reproduce**
$TTL 3600
@ IN SOA [ns1.sample.com](http://ns1.sample.com/). [admin.sample.com](http://admin.sample.com/). (
                                291618071
                                10800
                                3600
                                604800
                                86400 )

[sample.com](http://sample.com/). IN NS [ns1.sample.com](http://ns1.sample.com/).
ns1 IN A 130.108.1.20
[sample.com](http://sample.com/). IN 600 A 120.130.128.70
record2.a2 IN A 130.108.2.12

**Context (please complete the following information):**
 - dnspython version 2.3.0
 - Python version 3.9
 - OS:macOS


Thanks for your report, this is definitely a bug.  I should have a fix committed tomorrow.

Fixed.  This will be in dnspython 2.4 which should be released about a month from now.

Thank you! Looking forward to the fix.