dnspython does not canonicalize TSIG keynames to all lower case

**Describe the bug**
I just tried to use the RFC2136 Certbot plugin, and initially failed. Debugging ultimately led to inconsistent implementation behavior in dnspython (with 2.3.0 on Debian 12 and a 2.7.0 from source on my workstation).

--

Issue: Setting up certbot with TSIG, I just let my IaC handle things. As such, key names were (in violation of 8945) auto generated. A TSIG configured in PowerDNS containing upper and lower case character (config representation) worked fine with nsupdate, to which i supplied the key name also as a string of upper and lower case characters.

When I used the same key and key name in dnspython, things stopped working. Interestingly, PowerDNS _found_ the right key, but could not validate the signature (TSIG not valid vs. 'Key not found').

Pieter van Dijk (PowerDNS) finally asked the core question: Are there any upper case characters in the TSIG?

Indeed, after changing the keyname to all lowercase for dnspython, things worked (not changing casing in the PowerDNS config).

--

Doing a PCAP of nsupdate doing a working and dnspython doing a non-working reveals that nsupdate does lowercase the keyname before using it/sending it on the wire. PowerDNS seems to lowercase the keyname from the config before using it. dnspython, though, does not.

The formulation instructing that in RFC2845 and RFC8945 is "Key name, in canonical wire format"; Looking at RFC4034 Sec. 6.2,  we see that the solution _should_ be lower casing, and RFC8945 also states that other encodings than 0x00 are 'not defined'.

In the current case, dnspython uses the keyname as written in the config (with casing) and sends it on the wire accordingly. This is not really aligned with the documents. However, changes to dnspython could now also break a lot of implementations/setups, _especially_ given that it has been doing this for some time, existing deployments _may_ rely on this behavior, if both sides use the same implementation, i.e., dnspython.

The latter is especially fnordy, as dnspython is used in certbot; I would also assume that dnspython is doing a lot of work in other areas where TSIGs might be used. I.e., changing dnspython _may_ break existing setups where both sides are dnspython and key names contain upper case characters, if a fixed version is only deployed on one side.

Technically, the easiest solution would be (apart from "simply" fixing the bug in dnspython _and_ updating all deployments potentially relying on this, i.e., potentially creating a behavior breaking change/update ;-)) text along the lines of (just typing it out; no glue-in points considered): 

'If a client has lower case characters in the configured key name, it SHOULD canonicalize the keyname. [This is how things are, essentially.] However, if a keyname containing upper and lower case characters is configured, a client MAY chose to either canonincalize the key to all lower case or use it as-is. If a request with the chosen approach is not successful, the client MUST reattempt the transaction using the other approach.'

**To Reproduce**
- Setup a TSIG and corresponding zone in PowerDNS with uppercase characters:
```
pdnsutil generate-tsig-key Remote.Example.Com hmac-sha256
```
- Configure a zone to allow updates with that TSIG
- Update a record (successfully) using `nsupdate`:
```
~ $ cat /tmp/nsupdate
server 192.0.2.1
zone example.com
key hmac-sha256:Remote.Example.Com MYKEY
update add www.example.com 60 A 192.0.2.23
send
quit
~ $ nsupdate -d < /tmp/nsupdate
Sending update to 193.104.168.192#53
Outgoing update query:
;; ->>HEADER<<- opcode: UPDATE, status: NOERROR, id:  56575
;; flags:; ZONE: 1, PREREQ: 0, UPDATE: 1, ADDITIONAL: 1
;; ZONE SECTION:
;example.com.	IN	SOA

;; UPDATE SECTION:
www.example.com. 60 IN A	192.0.2.23

;; TSIG PSEUDOSECTION:
remote.example.com.	0	ANY	TSIG	hmac-sha256. 1746354351 300 32 d/C8bnvDQoupB7ko+0ixcPxbe+qcfTcMzR4yRFBxrwc= 56575 NOERROR 0 


Reply from update query:
;; ->>HEADER<<- opcode: UPDATE, status: NOERROR, id:  56575
;; flags: qr aa; ZONE: 1, PREREQ: 0, UPDATE: 0, ADDITIONAL: 1
;; ZONE SECTION:
;example.com.	IN	SOA

;; TSIG PSEUDOSECTION:
remote.example.com.	0	ANY	TSIG	hmac-sha256. 1746354351 300 32 grxj4oqXMiQ9yel8kVF9ZM06I6c9qDWga97ZSh7unNs= 56575 NOERROR 0 
```
- See the record being updated successfully
- Use the sample dnsupdate code from dnspython:
```
~ $ cat ./upd.py
#!/usr/bin/env python3
import sys
import dns.query
import dns.tsigkeyring
import dns.update

keyring = dns.tsigkeyring.from_text({"Remote.Example.Com": "MYKEY"})

update = dns.update.Update("example.com.", keyring=keyring, keyalgorithm='hmac-sha256')
update.replace("www", 60, "A", "192.0.2.23")

response = dns.query.tcp(update, "192.0.2.1", timeout=10)
~ $ ./upd.py
```
- See that the server is unable to validate the TSIG
- change `Remote.Example.Com` to `remote.example.com` in `upd.py`
- Execute `./upd.py` again and see the TSIG being correctly validated by the server

**Context:**
- dnspython version 2.3.0 (Debian 12) and 2.7.0 (Gentoo) at least

The main issue that makes this harder than just adding a `.lower()` when handling key names is that there might be dnspython<>dnspython setups out there, which might end up being updated unevenly, thereby breaking functionality.


I don't think this is a dnspython bug, but will explore further...    RFC 8945 section 4.3.3, on canonical form, applies ONLY when computing the TSIG digest.  Dnspython does canonicalize here, as directed:

```
if first:
        ctx.update(key.name.to_digestable())
```

Section 4.2 of the RFC says that the owner name of the TSIG is the key name, and that it is a domain name.  It does NOT say to canonicalize the name.  Dnspython sends whatever the case of the key is, but canonicalizes correctly, so I think dnspython is doing nothing wrong.  Is it possible that PowerDNS is sensitive to the case of the key in the owner name?

I will test against BIND with dig and dnspython later today and see what it thinks.

Ok, skip the testing: https://github.com/PowerDNS/pdns/pull/15518

Sorry for the noise.