Parsing of KEY records

Currently, dnspython 2.6.1 is not able to parse `KEY` records:

```
foo KEY 0 3 15 ( nrX3JanqyDj/+bhM7PJsDMOvJ8doYeqT3y3eJTLX9t4= )
```

leads to

```
dns.exception.SyntaxError: <string>:32: generic rdata does not start with \#
```

KEY records were originally specified in RFC 2535. They're almost extinct after RFC 3445 limited their use to "only DNSSEC" where they were promptly superseded by DNSKEY for technical reasons, but are still occasionally used for SIG(0), a public-key mechanism for TSIG dynamic updates (RFC 2930/2931, still supported by BIND9) and can be generated using `dnssec-keygen -T KEY`.

This is a "would be nice" RFE as the KEY record I had in my zone wasn't actually in use anymore so I just removed it.

We removed KEY support back in 2011.   They are fully obsoleted in zone files, and dnspython doesn't do SIG(0), so I don't see any reason to add them back in any form at this time.

I see – in that case, do you have any recommendations for an alternative Python zonefile parser? I wasn't planning on using SIG(0) with dnspython; my goal is just to load and inspect existing old zone files that happen to have KEY records in them (which as far as I remember was still the documented way of supplying public keys to BIND9 at the time they were added, even long after the type's obsoletion for other purposes).

I don't have any alternative recommendations for Python or otherwise.   If you're willing to alter dnspython a bit, maybe just at runtime, you could probably get by.  Do your old zone files have only numeric values in the keys or do they also use the old textual form?  E.g. you used to be able say stuff like `example 300 IN KEY ZONE DNSSEC RSAMD5 <key-here>`.

If you don't need the textual forms of flags, algorithm, etc. then this change

```
import dns.rdata
import dns.rdatatype
import dns.rdtypes.dnskeybase
import dns.zone


class KeyImp:
    class KEY(dns.rdtypes.dnskeybase.DNSKEYBase):
        pass

dns.rdata.register_type(KeyImp, dns.rdatatype.KEY, "KEY")

z = dns.zone.from_file("example", "example")
print(z.to_text())
```

lets me successfully read (and print) this zone "example" with a KEY

```
$TTL 3600
$ORIGIN example.
@ soa foo bar 1 2 3 4 5
@ ns ns1
@ ns ns2
ns1 a 10.0.0.1
ns2 a 10.0.0.2
key01                  KEY     512 255 1 (
                               AQMFD5raczCJHViKtLYhWGz8hMY9UGRuniJDBzC7w0aR
                               yzWZriO6i2odGWWQVucZqKVsENW91IOW4vqudngPZsY3
                               GvQ/xVA8/7pyFj6b7Esga60zyGW6LFe9r8n6paHrlG5o
                               jqf0BaqHT+8= )
```

If you need the text forms for flags etc. then you would need to extend the technique above to add in the "from_text()" processing that was removed in `git show bfbdc2d77c11c10de4a146abb64055f501e81150`.

Thanks, I don't mind patching it with `dns.rdata.register_type()` given that that's possible. (So far the only few records I found were using numeric values only.)

Funnily enough I've encountered KEY RRs and SIG(0) couple days back and resorted to Perl's Net::DNS::SEC for that.

@rthalley Just to clarify, are you saying that PRs adding KEY are not welcome? I wanted to submit at least totext/fromtext support for KEY and SIG(0) eventually but did not get around it, so I want to check upfront.

My thinking is that having simple totext/fromtext support does not hurt and helps when you need to go through tones of PCAPs with weird things in them.

I'm not interested in supporting ancient DNSSEC much, but given we now have DNSSEC signing capabilities I wouldn't object to a PR that resurrected SIG and KEY as part of implementing SIG(0), since that's still in the protocol.  I see why you might just want to print them too, but it seems like the full implementation might have utility for tesitng.   I've never encountered SIG(0) in the wild, though it seems like you have!  I'd also be tempted to not implement KEY's textual mnemonics for flags and such, as then it could use our existing DNSKEYBase as I did above.