CNAME exclusivity

RFC 1034 Sec. 3.6.2 states:

> If a CNAME RR is present at a node, no other data should be present; this ensures that the data for a canonical name and its aliases cannot be different.  This rule also insures that a cached CNAME can be used without checking with an authoritative server for other RR types.

This implies that
- a CNAME RR set may only have one CNAME RR,
- there may be no CNAME RR when an RR of another type is present,
- there may be no CNAME RR at the zone apex (as a consequence of the previous corollary and the presence of the SOA RR).

I found that `dns.zone.from_text()` accepts zones that violate the first constraint (multiple CNAME RRs in the same RR set). I did not check for the other implications.

(The use of "should" in the above quote predates the RFC 2119 definitions, but there is some clarification on the matter in RFC 2181 Sec. 10.1, essentially stating that the imposed constraint is to be taken as a requirement.)

In case this is getting improved, it may be worth considering whether there are similar constraints for other record types. For example, I'm not sure whether two different SOA records may be present.

Zonefiles which have multiple CNAMEs for the same owner name are treated exactly as if you had tried to add the CNAME multiple times (e.g. with a dynamic update); because it is a singleton type, doing an add deletes the prior value.  So, e.g. if you load a zonefile with

cname CNAME a
cname CNAME b
cname CNAME c

The actual content of the cname node will be

cname CNAME c

Other singleton types would be treated the same way.

dnspython does not currently make any check for "CNAME and other data" when loading a zone.  It could detect such a situation and do the same thing DDNS would do in that case (if CNAME exists you ignore other data, if other data exists you ignore the CNAME).  Or it could be an error, which is the most useful sort of depends on your needs.  Perhaps we should think about having a policy mechanism implemented as methods in the zone that could be overridden, and maybe provide a "strict" zone.

Also note that DNSSEC complicates the "CNAME and other data" rule a bit, as an owner name with a CNAME can also have a RRSIG(CNAME), NSEC, RRSIG(NSEC), NSEC3, or RRSIG(NSEC3).


I thought I knew pretty much everything about DNS before I got into threat indicators and then I found all the ways it (mostly) works even when it's broken. Sometimes it can be important to load/serve broken data for testing, although exactly what that means, I guess, "it depends". It's hard to say what a tool should do when presented with broken data, as it's oftentimes not in the use case envelope envisioned by the creators / maintainers. The _Principle of Least Surprise_ likely applies. I would question whether a declaration "doesn't conform to the RFCs" represents a defect.

With all respect, I don't know that a mission statement exists for this project, but if I had to state what I thought it was, concisely, it would probably be something like:

> "Provide a tool for creating, dissecting and manipulating DNS artifacts and the DNS protocol which is performant enough... until it's not."

For me, "least surprise" in this context would be knowing:

- that ambiguous input / stimulus has been provided; and
- this is what the tool is choosing to do

and that's going to be the case for most situations like this.

Thank you to all the (other) contributors over the years...

Apologies in advance for the following idle questions, very possibly best ignored:

Are there other situations where ambiguities arise? Are they numerous and general enough in nature that a policy could be defined for reporting on ambiguities and something implementing that policy can be contemplated? Is this best addressed with documentation or examples? Is there a linter for zones available in Python? Is it possible to programmatically create "invalid" zones (e.g. zones containing multiple CNAMEs for the same FQDN, or a CNAME and other data, multiple SOA records, etc.)? Should `dns.zone` have a semantic checker?

Are there enough confirmative answers to enough of those questions that I should investigate further?

Dnspython is, as you said, first a tool for manipulating DNS objects.  Generally speaking it does (and should) follow the RFCs. As a tool originally designed to test nameservers, the ability to make encodable-in-the-wire-format but not allowed-by-the-RFCs messages, e.g. a response with multiple CNAMEs, or with a CNAME and other data is useful.  So, I'm ok with it being possible to programmatically make invalid things, but if you use dnspython's rich APIs you should get valid things by default.
CNAME and other data is currently an exception to this, which is why the ticket is still open.

dnspython does NOT, however, aim to be a linter.  Rather, it aims to be the tool you'd use to write the linter.  I.e. it wants to be more mechanism than policy.  So I certainly would consider changes that make the job of writing a linter easier.  The recent transactional changes should help with this, as the transaction API is an effective place to provide policy.  Just how this policy should be done is an open question.  E.g. do you subclass a transaction object, or does the transaction provide an API allowing you to add validators?

My current belief is that dnspython should prevent CNAME-and-other-data by default, but I am still unsure of the best way of doing this, and thus haven't changed anything.  In particular, is it better to do it in the Node API or in the Transaction API?  And ideally I'd like to do this in a way that doesn't break existing software which is purposely creating CNAME-and-other-data for testing purposes.

I'm glad to hear and share your perspective "that dnspython should prevent CNAME-and-other-data by default" (while possibly allowing it in cases where it is useful). As to the Node API vs. Transaction API aspect, I'm afraid I don't know enough to say anything of avail. So, I'm probably going to stay shut in this discussion (just wanted to make it clear that I'm happy about the direction this is taking - thanks!).

Tangential note

One problem to consider is what do we do in resolver code. E.g. loops like https://github.com/rthalley/dnspython/pull/605 will have hard time following multi-CNAME. I think best approach would be to throw out FormErr exception in places where one CNAME is required by spec and we really need it to be a singleton.

On the other hand I can imagine that message parser and generator can produce and accept multiple CNAMEs just fine, which should be enough for testing purposes.

For zone update etc. I do not have a clear answer. Transactional logic generally sounds like a good place to put checks in but the devil is in the details.

Similar considerations as for CNAME (at the owner name) apply for DNAME (underneath the owner name).

See #731 for my current take on this.

#731 merged.