How to modify MX records

How to modify MX records？？I've tried it many times ，I would appreciate it very much if you could tell me

Do you mean via dynamic update or editing a zone masterfile?

yeah, I want to update MX records via dnspthon,but failed! This is my code

import  dns.query
import dns.update
import dns.tsigkeyring
import dns.rdata
import dns.rdataset

SERVER_IP='192.168.48.159' 
keyring = dns.tsigkeyring.from_text({'xxxx:'xxxxx'}) 
up = dns.update.Update("china.com", keyring=keyring) 
#itemrdata2 = dns.rdata.from_text(dns.rdataclass.IN, dns.rdatatype.A,"123.207.174.80")
itemrdata2 = dns.rdata.from_text(dns.rdataclass.IN, dns.rdatatype.MX,"10 'test.cn'")
rdataset = dns.rdataset.from_rdata_list(ttl=500,rdatas=(itemrdata2,))
up.add("centosdoc",itemrdata2)
a = dns.query.tcp(up,SERVER_IP)
 Can you give me an example，How to construct a Instance of MX type rdata，Thanks

```>>> import dns.rdata
>>> import dns.rdatatype
>>> import dns.rdataclass
>>> dns.rdata.from_text(dns.rdataclass.IN, dns.rdatatype.MX, '10 test.cn')
<DNS IN MX rdata: 10 test.cn>
>>> 
```

Just using dns.rdataset.from_text() is easier...

```
print(dns.rdataset.from_text('IN', 'MX', 300, '10 test.cn', '20 test2.cn'))
300 IN MX 10 test.cn
300 IN MX 20 test2.cn
```

@rthalley  but Failed to modify SOA record
import dns.update
import dns.rdataset
import dns.query
import dns.tsigkeyring

keyring = dns.tsigkeyring.from_text({'xxxx:'xxxxx'})
update = dns.update.Update("xxxx", keyring=keyring)
update = dns.rdataset.from_text('IN','SOA', 500, 'dns postmaster.dns 2017042004 1800 600 604800 3600')
update.add('@',soa)
ret = dns.query.tcp(update,'192.168.48.159')
error information:
SOA update failed to increment serial, ignoring it

that construct a Instance of SOA type rdataset is incorrect?? or others?? 

If you're going to change the SOA RR instead of letting the authoritative do it automatically, then you must increment the serial number.

See RFC 2136 sections 3.4.2.2 and 3.6.