zone_for_name fails for CNAMEs

Using zone_for_name fails when the target domain is a CNAME. 
Instead of returning the domain name returned in the SOA of the answer, a lookup is made upon the parent domain, yielding invalid results. 

https://github.com/rthalley/dnspython/blob/f11f9f6d20012282a6554e6386cae3f151da0b53/dns/resolver.py#L1130-L1141


In case of rfc2317/Classless IN-ADDR.ARPA delegation the current approach can not be used to yield any valid result.

To my understanding the need to look higher only exists in case of NXDOMAIN.
Therefore I propose to change zone_for_name to returning the name of the SOA in case the query does not return NXDOMAIN, similar to ...

```python
# .....
	while 1:
		try:
			answer = resolver.query(name, dns.rdatatype.SOA, rdclass, tcp, raise_on_no_answer=False)

			if answer.rrset and answer.rrset.name == name:
				return name
			else:
				if answer.canonical_name and answer.response and len(answer.response.authority):
					return answer.response.authority[0].name
				else:
					raise dns.resolver.NoAnswer('Expected SOA')

		# otherwise we need to look higher
		except (dns.resolver.NXDOMAIN, dns.resolver.NoAnswer):
			pass
		try:
			name = name.parent()
		except dns.name.NoParent:
			raise dns.name.NoRootSOA
```



I just saw it is valid to return NXDOMAIN with a CNAME record for in-addr.arpa.
My proposed change does not cover this.

It is possible to retrieve the SOA from the authority section of the NXDOMAIN exception.

```python
# ....
	while 1:
		ee = None
		try:
			answer = resolver.query(name, dns.rdatatype.SOA, rdclass, tcp, raise_on_no_answer=False)
			if answer.rrset and answer.rrset.name == name:
				return name
			else:
				if answer.canonical_name and answer.response and len(answer.response.authority):
					return answer.response.authority[0].name
				else:
					raise dns.resolver.NoAnswer('Expected SOA')

		except dns.resolver.NXDOMAIN as e1:
			if 'responses' in e1.kwargs and \
			  name in e1.kwargs['responses'] and \
			  len(e1.kwargs['responses'][name].authority):
				return e1.kwargs['responses'][name].authority[0].name

		# otherwise we need to look higher
		except dns.resolver.NoAnswer as e0:
			pass
		
		try:
			name = name.parent()
		except dns.name.NoParent:
			raise dns.name.NoRootSOA
```

Changing this to an Enhancement Request from Bug as there are really two interesting zone_for_name() situations:   

1) What is the most enclosing ancestor name with an SOA?  I.e. who is immediately responsible for this name?

and

2) What is the most enclosing name with an SOA after chaining?  I.e who is ultimately responsible for the final target of the name after chaining?

We do 1).  I see why you'd want 2) in RFC-2317-type situations.  It seems like this should be something you could ask for, though probably not the default behavior.  2) is a bit tricky though, for a few reasons:

* "Type 3 negative answers" can happen, i.e. answers without SOA RRs in the authority section.  You'd think this shouldn't happen 22 years after RFC 2308, but it still does!

* Imagine 1.2.0.192.in-addr.arpa is CNAME'd to 1.0/25.2.0.192.in-addr.arpa.  No problem!  We discover that 0/25.2.0.192.in-addr.arpa is the zone either by finding the SOA RR, or by making it more CNAME aware so we can handle the issues in the prior bullet.  I.e. we take the final target name and then use that as our qname for more iterations inside of zone_for_name(). Note we can do this even if the CNAME target doesn't exist at all (i.e. if we get NXDOMAIN and not no error, no answer).

* Imagine 1.2.0.192.in-addr.arpa is CNAME'd to 1.0/25.2.0.192.does-not-exist-bogus-name.com. In this case the most enclosing ancestor of the target is going to be "com", perhaps because someone made a typo CNAMEing.  Is that what is wanted in this case, or do we want some "target must exist" flag too?

 

Hi,

it's been a while, I'm missing the environment to reproduce at this moment. 
As far as I remember, neither "1)" nor "2)" is done. 
The original comment agrees with this:
```# otherwise we were CNAMEd or DNAMEd and need to look higher ```
For results of type CNAME or DNAME (with ``answer.rrset.name != name``) this does not return the SOA for the name provided, but the SOA for a parent zone. Not the immediately responsible (1), not the final target after chaining (2).

My change addressed this by returning the SOA for CNAME/DNAME responses, moving the code closer to match "1)".

I think it does 1) now.  You can't have a CNAME and an SOA at one level of the DNS (RFC 1034 section 3.6.2), so if we get CNAME'd then there is no SOA and we have to look to the parent, as the comment say.  There is a  CNAME for www.dnspython.org, and zone_for_name correctly returns dnspython.org.

The way I read your code, you are returning the SOA from the authority section, but that will be the SOA of the the authority at the end of the CNAME chain, and is thus what I called 2).

My reports level of detail is insufficient.
I'll have to lookup/reproduce the problem and come back then.


The right way to do this (as of dnspython 2.1.0) will be to call `dns.resolver.zone_for_name(dns.resolver.canonical_name(name))`.