Handle AMTRELAY RR type's undefined values

**Motivation**

I came a cross a [zone](https://gitlab.isc.org/isc-projects/bind9/-/blob/main/bin/tests/system/genzone.sh#L479) with `AMTRELAY` RR type and an undefined value in it:
```
amtrelay06		AMTRELAY \# 2 0004
```
[RFC 8777](https://datatracker.ietf.org/doc/html/rfc8777) presumes that other than defined values 1, 2, and 3 exist (i.e., 4-255).

Currently, dnspython errors out with `dns.exception.FormError: invalid AMTRELAY relay type: 4`:
```python
msg = dns.message.make_query("amtrelay06.example.", "AMTRELAY")
udpresponse = dns.query.udp(msg, "10.53.0.2", port=int(os.environ["PORT"]))
```

```
/home/newman/isc/ws/bind9/bin/tests/system/cipher-suites/tests_cipher_suites.py:34: in test_cipher_suites
    udpresponse = dns.query.udp(msg, "10.53.0.2", port=int(os.environ["PORT"]))
/home/newman/.local/lib/python3.12/site-packages/dns/query.py:709: in udp
    (r, received_time) = receive_udp(
/home/newman/.local/lib/python3.12/site-packages/dns/query.py:633: in receive_udp
    r = dns.message.from_wire(
/home/newman/.local/lib/python3.12/site-packages/dns/message.py:1368: in from_wire
    m = reader.read()
/home/newman/.local/lib/python3.12/site-packages/dns/message.py:1263: in read
    self._get_section(MessageSection.ANSWER, ancount)
/home/newman/.local/lib/python3.12/site-packages/dns/message.py:1187: in _get_section
    rd = dns.rdata.from_wire_parser(
/home/newman/.local/lib/python3.12/site-packages/dns/rdata.py:803: in from_wire_parser
    return cls.from_wire_parser(rdclass, rdtype, parser, origin)
/home/newman/.local/lib/python3.12/site-packages/dns/rdtypes/ANY/AMTRELAY.py:89: in from_wire_parser
    relay = Relay.from_wire_parser(relay_type, parser, origin)
/home/newman/.local/lib/python3.12/site-packages/dns/rdtypes/util.py:111: in from_wire_parser
    raise dns.exception.FormError(cls._invalid_type(gateway_type))
E   dns.exception.FormError: invalid AMTRELAY relay type: 4
```

`"$DIG" +tls -p "${TLSPORT}" "@10.53.0.2" amtrelay06.example. AMTRELAY` retrieves the answer fine:
```
;; ANSWER SECTION:                                                                                                                                                                                                   
amtrelay06.example.     3600    IN      AMTRELAY \# 2 0004
```

**Describe the solution you'd like.**

Handle `AMTRELAY` RR type's undefined values.

You make a good point, but this is a hard request to grant!   AMTRELAY is using the same gateway mechanism as IPSECKEY, and dnspython shares code.  Unfortunately, neither document defines a zonefile text format for unknown gateway types.  While it would be possible to have an unknown format for AMTRELAY as the gateway is at the end of the record, we'd still have to make something up which only we could read.  I don't think we can even do that for IPSECKEY, because there is additional data which follows the gateway, and you need to know how long the gateway is to know where it starts.

In your "dig" example, dig is just falling back to the "unknown RR" syntax for text form for the whole record.  Dnspython does have the analogous concept of a GenericRdata, but it only uses that when it doesn't have an implementation for a type.  When it does have an implementation, it wants to return an object of that type that has been validated and offers the usual services.  Unfortunately we can't do this for either AMTRELAY or IPSECKEY due to the underspecification of zonefile form in both, and the further inability to split gateway from public key for IPSECKEY.   If I did what dig does and returned a GenericRdata, then I'd break code that expected parsing an AMTRELAY to return an AMTRELAY object or fail, which is the contract for known types.

It's possible we could have a mode where dns.rdata.from_text() and dns.rdata.from_wire() could return GenericRdata if parsing failed if you requested this.

(And by contrast we don't have this problem with better specified complicated types like SVCB and HTTPS, which have a generic form for parameters that are not specifically understood by an implementation.)

I see it's complicated! Thanks for your consideration.

There are two more issues I have with a zone generated by the script when handling it with dnspython
- `gpos02 GPOS "" "" ""`, see https://github.com/rthalley/dnspython/issues/28#issuecomment-15789286 and
- `uri03 URI 30 40 ""`, see [RFC 7553, section 4.4](https://datatracker.ietf.org/doc/html/rfc7553#section-4.4)

so I have to figure a filtering mechanism anyway.

Feel free to close this if you feel like to.

Actually RFC [8777](https://www.rfc-editor.org/rfc/rfc8777) is clear enough.  Use UNKNOWN format.  The relay is opaque data for subtypes that are yet to be defined.  Python can handle opaque data.  The entire point of UNKNOWN format is to get away from the chicken and egg issues when deploying new types and subtypes.   Every type can be represented in UNKNOWN format and all parsers should handle records presented in UNKNOWN format.  Post text parsing should be checked as if the record content came from the wire for content correctness. 

As for IPSECKEY if gateway type is > 3 then the you just have a combined opaque gateway, key data tuple.  Applications using gateway types > 3 will know how to deal with it.