Got ValueError when a nameserver has a CNAME

Hi,

When I try to resolve "www.divvee.social" on dns1.gohoplite.com. (web.gohoplite.com.), I got a ValueError:

```
  File "build/bdist.linux-x86_64/egg/dns/resolver.py", line 906, in query
  File "build/bdist.linux-x86_64/egg/dns/query.py", line 316, in udp
  File "build/bdist.linux-x86_64/egg/dns/query.py", line 256, in receive_udp
  File "build/bdist.linux-x86_64/egg/dns/inet.py", line 122, in is_multicast
ValueError
```

I think the "web.gohoplite.com." appears at a place where there should be an ip address (like: dns2.gohoplite.net. (50.247.62.51)).

Could you please have a look at it?

Thanks,
Liang

Sorry. I just find that RFC forbids NS record from having a CNAME. (RFC 2181 section 10.3) So raising an error is correct.