fails to parse multicast dns 

**Describe the bug**
With multicast DNS, the class field of a resource record may have the high bit set to indicate if the receiver should force a cache flush. Thus, class 0x0001 (IN) is 0x8001, for instance. It would appear this throws off wire parsing such that for resource records of class IN, the code cannot find the correct rdatatype class. And resorts to parsing as a GenericRecord

**To Reproduce**
Attempt to parse from wire any mDNS packet containing records with class type 0x8001

**Context (please complete the following information):**
 - dnspython 2.3.0
 - 3.10
 - OS: RedHat 8


Although DNS and mDNS share many elements in the wire encoding, they are different protocols.  Dnspython is a DNS tool, not an mDNS tool, and it doesn't claim to support mDNS.

It may be possible to implement mDNS building on top of dnspython, but it's not trivial as the divergence between the protocols is significant; see [RFC 6762, section 19](https://datatracker.ietf.org/doc/html/rfc6762#section-19).  For example, the protocols differ on the maximum size of a name, dnspython has no way of representing per-RR flushing bits.

I would be very hesitant to attempt this work or to merge any change supporting it into dnspython, because I'd fear it would muddle the correctness of dnspython for the DNS, which is its primary mission.