Canonicalized RRSIG RRs Sort Incorrectly Regarding the Covered Type

Instances of `dns.rdtypes.ANY.RRSIG` do not sort correctly with respect to the canonicalization specified in RFC 4034.

The relevant part in [RFC 4034, section 6.3](https://www.rfc-editor.org/rfc/rfc4034#section-6.3) reads:

> […], RRs with the same owner name, class, and type are sorted by treating the RDATA portion of the canonical form of each RR as a left-justified unsigned octet sequence […].

The script

```
import binascii
import dns.zone

sample = r""".                       86400   IN      SOA     a.root-servers.net. nstld.verisign-grs.com. 2025102600 1800 900 604800 86400
.                       518400  IN      NS      a.root-servers.net.
support.                86400   IN      RRSIG   NSEC 8 1 86400 20251108050000 20251026040000 61809 . KHxA+qvba0ZRGIkuFBux8mWwTCXRrfotL8w0DPs0fI6gqBwC/YUFwas/ /0VjQofwdW/qygqZBWwon7d4T1ETwJYbRo4nL/ym+XBW8kkkEuckHjRo oslo5fomRqEsmk3wnm7LbVeSZrNQxBWYw57ujaf6l5tUDpCdt0hUqQsE 4WM/xWgR0KforXwji6F3Xg7uIORM6L8SvvcXrk1af0hJEzijWb8r1LrZ o7yFUvR0KS+7SHWpint0V7zXB5MR6IsVLddsQqYdTtakjBzAakkUIAe/ XYCooGFZnAKzj/s7TsWNCMIaPzDv6VKYl2k7RoTCo0AikrpfKZp9vnLB dB9AMQ==
support.                86400   IN      RRSIG   DS 8 1 86400 20251108050000 20251026040000 61809 . qFT9HJZs3intJCHCROg76MhqrQv2xXf6xVjMdVpwLKDjC9ObimibePrR 5R0iZWRr4PuR92iMjZDYouKUQlRe5PZ5LPetJpyITrS1HsgF3a0YrxQ3 O1MIgiIfMMksSaMsnggmyqHgKKi0RD9Z36rcMnoETbM2KVaqodNZ9DRY XO7KuQB04zewrT+0SMxDhyT7Yy++oW4/bLsptwsSFmk1LmXQwRak1TPs IVmBOE77DpNNdKx2QM0H1UEIKzed+hDR249Aa+6jinS+/maRXVMajMn9 5Xg8BbshzJNmBv1N7axKmRWXaNPeXJ51Zq62ZbHsQA7z3LHQWvZpuZF4 6YsJEQ=="""

zone = dns.zone.from_text(sample, origin=".", relativize=False)

for name in sorted(zone):
    _owner = name.to_digestable(origin=".")
    for dataset in sorted(zone[name].rdatasets, key=lambda d: (d.rdclass,
                                                               d.rdtype)):
        _class = int(dataset.rdclass).to_bytes(byteorder="big", length=2)
        _type = int(dataset.rdtype).to_bytes(byteorder="big", length=2)
        _ttl = dataset.ttl.to_bytes(byteorder="big", length=4)
        for rr in sorted(dataset):
            _rdata = rr.to_digestable()
            _rdatalen = len(_rdata).to_bytes(byteorder="big", length=2)
            print((b" ".join(binascii.hexlify(_) for _ in (_owner,
                                                           _type,
                                                           _class,
                                                           _ttl,
                                                           _rdatalen,
                                                           _rdata))
                   ).decode("ascii"))
```

yields the following output with dnspython 2.8.0:

```
00 0002 0001 0007e900 0014 01610c726f6f742d73657276657273036e657400
00 0006 0001 00015180 0040 01610c726f6f742d73657276657273036e657400056e73746c640c766572697369676e2d67727303636f6d0078b49d08000007080000038400093a8000015180
07737570706f727400 002e 0001 00015180 0113 **002f**080100015180690ece5068fd9cc0f17100287c40faabdb6b465118892e141bb1f265b04c25d1adfa2d2fcc340cfb347c8ea0a81c02fd8505c1ab3fff45634287f0756feaca0a99056c289fb7784f5113c0961b468e272ffca6f97056f2492412e7241e3468a2c968e5fa2646a12c9a4df09e6ecb6d579266b350c41598c39eee8da7fa979b540e909db74854a90b04e1633fc56811d0a7e8ad7c238ba1775e0eee20e44ce8bf12bef717ae4d5a7f48491338a359bf2bd4bad9a3bc8552f474292fbb4875a98a7b7457bcd7079311e88b152dd76c42a61d4ed6a48c1cc06a49142007bf5d80a8a061599c02b38ffb3b4ec58d08c21a3f30efe9529897693b4684c2a3402292ba5f299a7dbe72c1741f4031
07737570706f727400 002e 0001 00015180 0113 **002b**080100015180690ece5068fd9cc0f17100a854fd1c966cde29ed2421c244e83be8c86aad0bf6c577fac558cc755a702ca0e30bd39b8a689b78fad1e51d2265646be0fb91f7688c8d90d8a2e29442545ee4f6792cf7ad269c884eb4b51ec805ddad18af14373b530882221f30c92c49a32c9e0826caa1e028a8b4443f59dfaadc327a044db3362956aaa1d359f434585ceecab90074e337b0ad3fb448cc438724fb632fbea16e3f6cbb29b70b121669352e65d0c116a4d533ec215981384efb0e934d74ac7640cd07d541082b379dfa10d1db8f406beea38a74befe66915d531a8cc9fde5783c05bb21cc936606fd4dedac4a99159768d3de5c9e7566aeb665b1ec400ef3dcb1d05af669b99178e98b0911
```

The highlighted parts in the last two lines are the types covered by the RRSIG records. The expected output has these lines swapped:

```
00 0002 0001 0007e900 0014 01610c726f6f742d73657276657273036e657400
00 0006 0001 00015180 0040 01610c726f6f742d73657276657273036e657400056e73746c640c766572697369676e2d67727303636f6d0078b49d08000007080000038400093a8000015180
07737570706f727400 002e 0001 00015180 0113 **002b**080100015180690ece5068fd9cc0f17100a854fd1c966cde29ed2421c244e83be8c86aad0bf6c577fac558cc755a702ca0e30bd39b8a689b78fad1e51d2265646be0fb91f7688c8d90d8a2e29442545ee4f6792cf7ad269c884eb4b51ec805ddad18af14373b530882221f30c92c49a32c9e0826caa1e028a8b4443f59dfaadc327a044db3362956aaa1d359f434585ceecab90074e337b0ad3fb448cc438724fb632fbea16e3f6cbb29b70b121669352e65d0c116a4d533ec215981384efb0e934d74ac7640cd07d541082b379dfa10d1db8f406beea38a74befe66915d531a8cc9fde5783c05bb21cc936606fd4dedac4a99159768d3de5c9e7566aeb665b1ec400ef3dcb1d05af669b99178e98b0911
07737570706f727400 002e 0001 00015180 0113 **002f**080100015180690ece5068fd9cc0f17100287c40faabdb6b465118892e141bb1f265b04c25d1adfa2d2fcc340cfb347c8ea0a81c02fd8505c1ab3fff45634287f0756feaca0a99056c289fb7784f5113c0961b468e272ffca6f97056f2492412e7241e3468a2c968e5fa2646a12c9a4df09e6ecb6d579266b350c41598c39eee8da7fa979b540e909db74854a90b04e1633fc56811d0a7e8ad7c238ba1775e0eee20e44ce8bf12bef717ae4d5a7f48491338a359bf2bd4bad9a3bc8552f474292fbb4875a98a7b7457bcd7079311e88b152dd76c42a61d4ed6a48c1cc06a49142007bf5d80a8a061599c02b38ffb3b4ec58d08c21a3f30efe9529897693b4684c2a3402292ba5f299a7dbe72c1741f4031
```