The AMTRELAY type code 259 is wrong

https://github.com/rthalley/dnspython/blob/585add9d96ed981ab6a23b373a9166d8986620ab/dns/rdatatype.py#L99
See AMTRELAY RRType Definition in [Section 4.1 of [RFC8777]](https://tools.ietf.org/html/rfc8777#section-4.1)

It's fixed now.  Thanks!