Resolver should raise more specific errors when Extended DNS Errors (RFC 8914) is used.

**Motivation**
With Extended DNS Errors ([RFC 8914](https://www.rfc-editor.org/rfc/rfc8914.html)) the DNS server can return more specific errors, but the dnspython resolver doesn't use this yet. For example:

```python
import dns.resolver
resolver = dns.resolver.Resolver()
resolver.nameservers = ["1.1.1.1"]
resolver.resolve("dnssec-failed.org")
```
This will result in
```
NoNameservers: All nameservers failed to answer the query dnssec-failed.org. IN A: Server Do53:1.1.1.1@53 answered SERVFAIL
```

But if you look at dig output, the resolver returned that the dnskey is missing:
```
% dig dnssec-failed.org @1.1.1.1
...
; EDE: 9 (DNSKEY Missing): (no SEP matching the DS found for dnssec-failed.org.)
```

**Describe the solution you'd like.**
If the dnspython resolver receives a SERVFAIL with EDE it should raise an exception indicating the error returned and the exception should include the info code and extra text that is returned.


I agree that it would be good to do something with EDEs in responses, but this example is an unrealistic case.  Typically, the resolver will not be configured with a single server address, and the behavior when receiving SERVFAIL will be to try the next server.  That server might respond with the same EDE (if the EDE indicates a problem with authoritative DNSSEC, for example), but it might not (if the EDE indicates that the server is under excessive load, or if there's a DNSSEC failure due to some misconfiguration of the validating server, or some other reason).  In the former case, it could be useful if the exception indicated more of a reason, but in the latter, there might not be an exception at all, and if there is, there might be multiple reasons.

I wonder if the solution to this isn't a "resolver trace" that could be tacked on to the Answer or Exception, as that would allow us to log EDEs to the trace naturally, as well as all the other things that can go wrong, e.g. we don't like the response we got for some reason, timeouts, etc.

Unfortunately, its very common to have a broken / misconfigured DNSSec implementation in once's server. Especially when dealing with requests made for non-existent records. 
We see a common pattern where, instead of an NXDomain, either EDE code 6 or 12 will be returned for records that do not exists, leading this dns resolver to try the next server (which in turn will probably do the same), eventually leading to the erroneous NoNameservers exception.

related: https://github.com/minvws/nl-kat-coordination/pull/3271

What you're supposed to do when you get a SERVFAIL is treat it as a transient error and continue processing, and so the proper result of this query would be a timeout!   Dnspython imposes a different policy by default, where we do not retry a server that has SERVFAILed, because in practice most SERVFAILs don't get better by retrying.  This is arguably I mistake I made back in 2013, even if I did it for good reasons, but we're stuck with it for backwards compatibility.  Dnspython does allow the standard behavior to be configured by setting the resolver's `retry_servfail` attribute to `True`.  The "NoNameservers" error means "after talking to all of the configured nameservers, each one said something I didn't find useful and so I removed it from further use, and now I have no one left to talk to".

EDEs are a log of things that happened during processing, and not a result code.  You can get an EDE 6 but not fail a resolution, for example, if one authority was bad and another was OK.  And even if a resolution does fail with an EDE 6, it's not certain that is the ONLY reason.  While it may be likely that all authorities are similarly broken, it could be that the recursor encountered one bad authority and then had a network problem that prevented it from talking to another authority.  In this case, having the stub resolver try another server might help.  Put more generally, resolutions do not always fail for a single reason.  Dnspython's default SERVFAIL behavior is striking a balance between likely pointless repeat requests and not trying hard enough.

This issue basically requests an extension to dnspython's non-standard default, where the presence of an EDE in the response would terminate resolution immediately.  This would be an additional deviation from the standards, as RFC 8914 section 3 says "Applications **MUST** continue to follow requirements from applicable specifications on how to process RCODEs no matter what EDE values are also received".  But even if we're willing to ignore the **MUST**, it's problematic to know which EDE values should be resolution-terminating errors, because the EDE is a log.  Even if we're willing to say "EDE N is always bad", there are 65535 possible EDE values, so we'd probably have to let people configure which EDEs are terminal.   I don't want to go there.

So, I've decided to close this issue, but I'm not against future enhancement requests for a resolver trace, or to accumulate a list of EDE values seen from each server while resolving and return them.