Can'f find record's TTL, only rdataset TTL

Hello,

when parsing a zone obtained from a zone transfer, I dont seem to be able to find the ttl value of each record... I can only see a TTL value in the whole rdataset. Is there a way around this?

Example, say the zone has two A records called "ml623". After this:

```
z = dns.zone.from_xfr(dns.query.xfr(server, domain))
node=z.get_node('ml623')

In [34]: node.rdatasets[0].ttl
Out[34]: 120

In [35]: node.rdatasets[0][0]
Out[35]: <DNS IN A rdata: 2.2.2.2>

In [36]: node.rdatasets[0][1]
Out[36]: <DNS IN A rdata: 3.3.3.3>

```

The two A records actually have a TTL of 120 and 180 respectively. 

Section 5.2 of RFC 2181 requires that all RRs in an RRSet have the same TTL.  When differing TTLs are received, dnspython performs "TTL minimization", picking the lowest TTL seen as the TTL of the set.
