Empty APL parsing

Hi,
it seems that dnspython can't process an empty APL record. Although this isn't a big problem, in fact, this case is useful for testing because APL is the only record I know which allows empty rdata (RFC 3123 sec. 5: "The data consists of zero or more strings...").

dnspython3-1.11.1
