2.7.0: test suite uses SHA1

**Describe the bug**
Looks like some pytest test suite units are failing because SHA1is used.
SHA1 should not be used https://fedoraproject.org/wiki/SHA1SignaturesGuidance

**To Reproduce**
Run pytest test suite on for example Fedora.

<details>
<summary>Here is pytest output:</summary>

```console
+ PYTHONPATH=/home/tkloczko/rpmbuild/BUILDROOT/python-dns-2.7.0-3fc37.x86_64/usr/lib64/python3.10/site-packages:/home/tkloczko/rpmbuild/BUILDROOT/python-dns-2.7.0-3fc37.x86_64/usr/lib/python3.10/site-packages
+ /usr/bin/pytest -ra -m 'not network'
==================================================================================== test session starts ====================================================================================
platform linux -- Python 3.10.14, pytest-8.2.2, pluggy-1.5.0
rootdir: /home/tkloczko/rpmbuild/BUILD/dnspython-2.7.0
configfile: pyproject.toml
plugins: anyio-4.4.0
collected 1360 items

tests/test_address.py ....                                                                                                                                                            [  0%]
tests/test_async.py ........s.sss..............s.............s.sss......F.......s.....................                                                                                [  6%]
tests/test_bugs.py .......                                                                                                                                                            [  6%]
tests/test_constants.py .....                                                                                                                                                         [  7%]
tests/test_ddr.py ..                                                                                                                                                                  [  7%]
tests/test_dnssec.py ............FF...F..F....FF..F...................................F.                                                                                              [ 12%]
tests/test_dnssecalgs.py ....F....                                                                                                                                                    [ 12%]
tests/test_doh.py sssssssss                                                                                                                                                           [ 13%]
tests/test_doq.py sss                                                                                                                                                                 [ 13%]
tests/test_edns.py .................                                                                                                                                                  [ 15%]
tests/test_entropy.py .....                                                                                                                                                           [ 15%]
tests/test_exceptions.py .....                                                                                                                                                        [ 15%]
tests/test_features.py ....                                                                                                                                                           [ 16%]
tests/test_flags.py ............                                                                                                                                                      [ 16%]
tests/test_generate.py .................                                                                                                                                              [ 18%]
tests/test_grange.py ..........                                                                                                                                                       [ 18%]
tests/test_immutable.py ......                                                                                                                                                        [ 19%]
tests/test_message.py .................................................................................                                                                               [ 25%]
tests/test_name.py .................................................................................................................................................................. [ 37%]
.............                                                                                                                                                                         [ 38%]
tests/test_namedict.py ......................                                                                                                                                         [ 39%]
tests/test_nsec3.py ..                                                                                                                                                                [ 40%]
tests/test_nsec3_hash.py ...                                                                                                                                                          [ 40%]
tests/test_ntoaaton.py ................................................                                                                                                               [ 43%]
tests/test_processing_order.py ..........                                                                                                                                             [ 44%]
tests/test_query.py ...................................................                                                                                                               [ 48%]
tests/test_rdata.py ..............................................................................................                                                                    [ 55%]
tests/test_rdataset.py ..................                                                                                                                                             [ 56%]
tests/test_rdtypeandclass.py ..........................                                                                                                                               [ 58%]
tests/test_rdtypeanydnskey.py ..                                                                                                                                                      [ 58%]
tests/test_rdtypeanyeui.py ........................                                                                                                                                   [ 60%]
tests/test_rdtypeanyloc.py ....                                                                                                                                                       [ 60%]
tests/test_rdtypeanytkey.py ....                                                                                                                                                      [ 60%]
tests/test_renderer.py .....                                                                                                                                                          [ 61%]
tests/test_resolution.py ...............................                                                                                                                              [ 63%]
tests/test_resolver.py ...........................s..s...............................                                                                                                 [ 68%]
tests/test_resolver_override.py ..............                                                                                                                                        [ 69%]
tests/test_rrset.py ......................                                                                                                                                            [ 70%]
tests/test_rrset_reader.py ............                                                                                                                                               [ 71%]
tests/test_serial.py ...........                                                                                                                                                      [ 72%]
tests/test_set.py ...................................................                                                                                                                 [ 76%]
tests/test_svcb.py ................                                                                                                                                                   [ 77%]
tests/test_tokenizer.py ................................................                                                                                                              [ 80%]
tests/test_transaction.py ................................................                                                                                                            [ 84%]
tests/test_tsig.py ......................                                                                                                                                             [ 86%]
tests/test_tsigkeyring.py .......                                                                                                                                                     [ 86%]
tests/test_ttl.py .........                                                                                                                                                           [ 87%]
tests/test_update.py .......................                                                                                                                                          [ 88%]
tests/test_wire.py .......                                                                                                                                                            [ 89%]
tests/test_xfr.py ................................                                                                                                                                    [ 91%]
tests/test_zone.py .....................................................................................................                                                              [ 99%]
tests/test_zonedigest.py ...........                                                                                                                                                  [100%]

========================================================================================= FAILURES ==========================================================================================
____________________________________________________________________________ TrioAsyncTests.testQueryUDPFallback ____________________________________________________________________________

self = <tests.test_async.TrioAsyncTests testMethod=testQueryUDPFallback>

    def testQueryUDPFallback(self):
        for address in query_addresses:
            qname = dns.name.from_text(".")

            async def run():
                q = dns.message.make_query(qname, dns.rdatatype.DNSKEY)
                return await dns.asyncquery.udp_with_fallback(q, address, timeout=4)

>           (_, tcp) = self.async_run(run)

tests/test_async.py:485:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
tests/test_async.py:719: in async_run
    return trio.run(afunc)
tests/test_async.py:483: in run
    return await dns.asyncquery.udp_with_fallback(q, address, timeout=4)
dns/asyncquery.py:280: in udp_with_fallback
    response = await udp(
dns/asyncquery.py:223: in udp
    (r, received_time, _) = await receive_udp(
dns/asyncquery.py:143: in receive_udp
    (wire, from_address) = await sock.recvfrom(65535, _timeout(expiration))
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <dns._trio_backend.DatagramSocket object at 0x7f24607963b0>, size = 65535, timeout = 3.9996299743652344

    async def recvfrom(self, size, timeout):
        with _maybe_timeout(timeout):
            return await self.socket.recvfrom(size)
>       raise dns.exception.Timeout(timeout=timeout)  # lgtm[py/unreachable-statement]
E       dns.exception.Timeout: The DNS operation timed out after 4.000 seconds

dns/_trio_backend.py:50: Timeout
________________________________________________________________________ DNSSECValidatorTestCase.testAbsoluteRSABad _________________________________________________________________________

self = <tests.test_dnssec.DNSSECValidatorTestCase testMethod=testAbsoluteRSABad>

    def testAbsoluteRSABad(self):  # type: () -> None
        def bad():  # type: () -> None
            dns.dnssec.validate(abs_other_soa, abs_soa_rrsig, abs_keys, None, when)

>       self.assertRaises(dns.dnssec.ValidationFailure, bad)

tests/test_dnssec.py:674:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
tests/test_dnssec.py:672: in bad
    dns.dnssec.validate(abs_other_soa, abs_soa_rrsig, abs_keys, None, when)
dns/dnssec.py:473: in _validate
    _validate_rrsig(rrset, rrsig, keys, origin, now, policy)
dns/dnssec.py:398: in _validate_rrsig
    _validate_signature(rrsig.signature, data, candidate_key)
dns/dnssec.py:334: in _validate_signature
    public_key.verify(sig, data)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

    def verify(self, signature: bytes, data: bytes) -> None:
>       self.key.verify(signature, data, padding.PKCS1v15(), self.chosen_hash)
E       cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.

dns/dnssecalgs/rsa.py:20: UnsupportedAlgorithm
________________________________________________________________________ DNSSECValidatorTestCase.testAbsoluteRSAGood ________________________________________________________________________

self = <tests.test_dnssec.DNSSECValidatorTestCase testMethod=testAbsoluteRSAGood>

    def testAbsoluteRSAGood(self):  # type: () -> None
>       dns.dnssec.validate(abs_soa, abs_soa_rrsig, abs_keys, None, when)

tests/test_dnssec.py:663:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
dns/dnssec.py:473: in _validate
    _validate_rrsig(rrset, rrsig, keys, origin, now, policy)
dns/dnssec.py:398: in _validate_rrsig
    _validate_signature(rrsig.signature, data, candidate_key)
dns/dnssec.py:334: in _validate_signature
    public_key.verify(sig, data)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <dns.dnssecalgs.rsa.PublicRSASHA1 object at 0x7f246035b850>
signature = b'\xb05%\x96\xd4e\x1540\xe4\x84\xc5\xc4\xe5\xd6\xdd8&\xacw\x8cx\xda]\xa9\xc6x\x11|L\xf4Q\xe1"[^\xe9_X\np\xf0\xb7\xa7o3...7dW[\xb7\x8cca;W\xaa\x9c\x98\xbe\xb3\n\xd0;{mF\x0fi\xdc\xa1<P\x89\xd4\x1f\x88\xf1\x98\xbb\x07\x95\x89\x10\xe7t\xf2\xfb'
data = b'\x00\x06\x05\x02\x00\x00\x0e\x10L\xf0T3L\xe6\xeeW\xf0\xff\tdnspython\x03org\x00\tdnspython\x03org\x00\x00\x06\x00\x0...thon\x03org\x00\nhostmaster\tdnspython\x03org\x00w\xcex\xcf\x00\x00\x0e\x10\x00\x00\x07\x08\x00\t:\x80\x00\x00\x0e\x10'

    def verify(self, signature: bytes, data: bytes) -> None:
>       self.key.verify(signature, data, padding.PKCS1v15(), self.chosen_hash)
E       cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.

dns/dnssecalgs/rsa.py:20: UnsupportedAlgorithm
___________________________________________________________________ DNSSECValidatorTestCase.testAlternateParameterFormats ___________________________________________________________________

self = <tests.test_dnssec.DNSSECValidatorTestCase testMethod=testAlternateParameterFormats>

    def testAlternateParameterFormats(self):  # type: () -> None
        # Pass rrset and rrsigset as (name, rdataset) tuples, not rrsets
        rrset = (abs_soa.name, abs_soa.to_rdataset())
        rrsigset = (abs_soa_rrsig.name, abs_soa_rrsig.to_rdataset())
>       dns.dnssec.validate(rrset, rrsigset, abs_keys, None, when)

tests/test_dnssec.py:851:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
dns/dnssec.py:473: in _validate
    _validate_rrsig(rrset, rrsig, keys, origin, now, policy)
dns/dnssec.py:398: in _validate_rrsig
    _validate_signature(rrsig.signature, data, candidate_key)
dns/dnssec.py:334: in _validate_signature
    public_key.verify(sig, data)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <dns.dnssecalgs.rsa.PublicRSASHA1 object at 0x7f24602e2aa0>
signature = b'\xb05%\x96\xd4e\x1540\xe4\x84\xc5\xc4\xe5\xd6\xdd8&\xacw\x8cx\xda]\xa9\xc6x\x11|L\xf4Q\xe1"[^\xe9_X\np\xf0\xb7\xa7o3...7dW[\xb7\x8cca;W\xaa\x9c\x98\xbe\xb3\n\xd0;{mF\x0fi\xdc\xa1<P\x89\xd4\x1f\x88\xf1\x98\xbb\x07\x95\x89\x10\xe7t\xf2\xfb'
data = b'\x00\x06\x05\x02\x00\x00\x0e\x10L\xf0T3L\xe6\xeeW\xf0\xff\tdnspython\x03org\x00\tdnspython\x03org\x00\x00\x06\x00\x0...thon\x03org\x00\nhostmaster\tdnspython\x03org\x00w\xcex\xcf\x00\x00\x0e\x10\x00\x00\x07\x08\x00\t:\x80\x00\x00\x0e\x10'

    def verify(self, signature: bytes, data: bytes) -> None:
>       self.key.verify(signature, data, padding.PKCS1v15(), self.chosen_hash)
E       cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.

dns/dnssecalgs/rsa.py:20: UnsupportedAlgorithm
________________________________________________________________________ DNSSECValidatorTestCase.testDuplicateKeytag ________________________________________________________________________

self = <tests.test_dnssec.DNSSECValidatorTestCase testMethod=testDuplicateKeytag>

    def testDuplicateKeytag(self):  # type: () -> None
>       dns.dnssec.validate(
            abs_soa, abs_soa_rrsig, abs_keys_duplicate_keytag, None, when
        )

tests/test_dnssec.py:666:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
dns/dnssec.py:473: in _validate
    _validate_rrsig(rrset, rrsig, keys, origin, now, policy)
dns/dnssec.py:398: in _validate_rrsig
    _validate_signature(rrsig.signature, data, candidate_key)
dns/dnssec.py:334: in _validate_signature
    public_key.verify(sig, data)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <dns.dnssecalgs.rsa.PublicRSASHA1 object at 0x7f2460358ca0>
signature = b'\xb05%\x96\xd4e\x1540\xe4\x84\xc5\xc4\xe5\xd6\xdd8&\xacw\x8cx\xda]\xa9\xc6x\x11|L\xf4Q\xe1"[^\xe9_X\np\xf0\xb7\xa7o3...7dW[\xb7\x8cca;W\xaa\x9c\x98\xbe\xb3\n\xd0;{mF\x0fi\xdc\xa1<P\x89\xd4\x1f\x88\xf1\x98\xbb\x07\x95\x89\x10\xe7t\xf2\xfb'
data = b'\x00\x06\x05\x02\x00\x00\x0e\x10L\xf0T3L\xe6\xeeW\xf0\xff\tdnspython\x03org\x00\tdnspython\x03org\x00\x00\x06\x00\x0...thon\x03org\x00\nhostmaster\tdnspython\x03org\x00w\xcex\xcf\x00\x00\x0e\x10\x00\x00\x07\x08\x00\t:\x80\x00\x00\x0e\x10'

    def verify(self, signature: bytes, data: bytes) -> None:
>       self.key.verify(signature, data, padding.PKCS1v15(), self.chosen_hash)
E       cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.

dns/dnssecalgs/rsa.py:20: UnsupportedAlgorithm
________________________________________________________________________ DNSSECValidatorTestCase.testRelativeRSABad _________________________________________________________________________

self = <tests.test_dnssec.DNSSECValidatorTestCase testMethod=testRelativeRSABad>

    def testRelativeRSABad(self):  # type: () -> None
        def bad():  # type: () -> None
            dns.dnssec.validate(
                rel_other_soa, rel_soa_rrsig, rel_keys, abs_dnspython_org, when
            )

>       self.assertRaises(dns.dnssec.ValidationFailure, bad)

tests/test_dnssec.py:687:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
tests/test_dnssec.py:683: in bad
    dns.dnssec.validate(
dns/dnssec.py:473: in _validate
    _validate_rrsig(rrset, rrsig, keys, origin, now, policy)
dns/dnssec.py:398: in _validate_rrsig
    _validate_signature(rrsig.signature, data, candidate_key)
dns/dnssec.py:334: in _validate_signature
    public_key.verify(sig, data)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

    def verify(self, signature: bytes, data: bytes) -> None:
>       self.key.verify(signature, data, padding.PKCS1v15(), self.chosen_hash)
E       cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.

dns/dnssecalgs/rsa.py:20: UnsupportedAlgorithm
________________________________________________________________________ DNSSECValidatorTestCase.testRelativeRSAGood ________________________________________________________________________

self = <tests.test_dnssec.DNSSECValidatorTestCase testMethod=testRelativeRSAGood>

    def testRelativeRSAGood(self):  # type: () -> None
>       dns.dnssec.validate(rel_soa, rel_soa_rrsig, rel_keys, abs_dnspython_org, when)

tests/test_dnssec.py:677:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
dns/dnssec.py:473: in _validate
    _validate_rrsig(rrset, rrsig, keys, origin, now, policy)
dns/dnssec.py:398: in _validate_rrsig
    _validate_signature(rrsig.signature, data, candidate_key)
dns/dnssec.py:334: in _validate_signature
    public_key.verify(sig, data)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <dns.dnssecalgs.rsa.PublicRSASHA1 object at 0x7f245ff5e8c0>
signature = b'\xb05%\x96\xd4e\x1540\xe4\x84\xc5\xc4\xe5\xd6\xdd8&\xacw\x8cx\xda]\xa9\xc6x\x11|L\xf4Q\xe1"[^\xe9_X\np\xf0\xb7\xa7o3...7dW[\xb7\x8cca;W\xaa\x9c\x98\xbe\xb3\n\xd0;{mF\x0fi\xdc\xa1<P\x89\xd4\x1f\x88\xf1\x98\xbb\x07\x95\x89\x10\xe7t\xf2\xfb'
data = b'\x00\x06\x05\x02\x00\x00\x0e\x10L\xf0T3L\xe6\xeeW\xf0\xff\tdnspython\x03org\x00\tdnspython\x03org\x00\x00\x06\x00\x0...thon\x03org\x00\nhostmaster\tdnspython\x03org\x00w\xcex\xcf\x00\x00\x0e\x10\x00\x00\x07\x08\x00\t:\x80\x00\x00\x0e\x10'

    def verify(self, signature: bytes, data: bytes) -> None:
>       self.key.verify(signature, data, padding.PKCS1v15(), self.chosen_hash)
E       cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.

dns/dnssecalgs/rsa.py:20: UnsupportedAlgorithm
______________________________________________________________________ DNSSECValidatorTestCase.testWildcardGoodAndBad _______________________________________________________________________

self = <tests.test_dnssec.DNSSECValidatorTestCase testMethod=testWildcardGoodAndBad>

    def testWildcardGoodAndBad(self):
>       dns.dnssec.validate(
            wildcard_txt, wildcard_txt_rrsig, wildcard_keys, None, wildcard_when
        )

tests/test_dnssec.py:802:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
dns/dnssec.py:473: in _validate
    _validate_rrsig(rrset, rrsig, keys, origin, now, policy)
dns/dnssec.py:398: in _validate_rrsig
    _validate_signature(rrsig.signature, data, candidate_key)
dns/dnssec.py:334: in _validate_signature
    public_key.verify(sig, data)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <dns.dnssecalgs.rsa.PublicRSASHA1 object at 0x7f245fff32b0>
signature = b'\xa9\xeb\xc9b\x17@\x1e\xadU\x99\xe8WC\x98\xbe\x12\x96\xb7\xdb\x1b8\xcd\xc7x\xaaf\xf7\xf6\x91\xda\xdce\n\xafUy\xd3\x8...4n1\xbf%6\xf0\xf7\xf4SX\r\xe8gy\x89\xaaJ\x0bF\x1a\xd7g\xe5*\x1f\xff5\x08\x8d7k$9\r\x8c\xa0]\x8c[o\xcch\x02\xb6\x1c\x17'
data = b'\x00\x10\x05\x02\x00\x00\x0e\x10_\x04\xe5W^\xfb\x7f{\xa5\xf6\x07example\x03com\x00\x01*\x07example\x03com\x00\x00\x10\x00\x01\x00\x00\x0e\x10\x00\x04\x03foo'

    def verify(self, signature: bytes, data: bytes) -> None:
>       self.key.verify(signature, data, padding.PKCS1v15(), self.chosen_hash)
E       cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.

dns/dnssecalgs/rsa.py:20: UnsupportedAlgorithm
_______________________________________________________________________ DNSSECSignatureTestCase.testSignatureRSASHA1 ________________________________________________________________________

self = <tests.test_dnssec.DNSSECSignatureTestCase testMethod=testSignatureRSASHA1>

    def testSignatureRSASHA1(self):  # type: () -> None
        key = rsa.generate_private_key(
            public_exponent=65537, key_size=2048, backend=default_backend()
        )
>       self._test_signature(key, dns.dnssec.Algorithm.RSASHA1, abs_soa)

tests/test_dnssec.py:1392:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
tests/test_dnssec.py:1490: in _test_signature
    rrsig = dns.dnssec.sign(
dns/dnssec.py:602: in _sign
    signature = signing_key.sign(data, verify, deterministic)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <dns.dnssecalgs.rsa.PrivateRSASHA1 object at 0x7f246074b4f0>
data = b'\x00\x06\x05\x02\x00\x00\x0e\x10h\x0eD\xe9h\x0e6\xd9\xaa\xbb\tdnspython\x03org\x00\tdnspython\x03org\x00\x00\x06\x00...thon\x03org\x00\nhostmaster\tdnspython\x03org\x00w\xcex\xcf\x00\x00\x0e\x10\x00\x00\x07\x08\x00\t:\x80\x00\x00\x0e\x10'
verify = True, deterministic = True

    def sign(
        self,
        data: bytes,
        verify: bool = False,
        deterministic: bool = True,
    ) -> bytes:
        """Sign using a private key per RFC 3110, section 3."""
>       signature = self.key.sign(data, padding.PKCS1v15(), self.public_cls.chosen_hash)
E       cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.

dns/dnssecalgs/rsa.py:66: UnsupportedAlgorithm
_________________________________________________________________________________ DNSSECAlgorithm.test_rsa __________________________________________________________________________________

self = <tests.test_dnssecalgs.DNSSECAlgorithm testMethod=test_rsa>

    def test_rsa(self):
        self._test_dnssec_alg(PrivateRSAMD5, 2048)
>       self._test_dnssec_alg(PrivateRSASHA1, 2048)

tests/test_dnssecalgs.py:83:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
tests/test_dnssecalgs.py:57: in _test_dnssec_alg
    signature = private_key.sign(data, verify=True)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <dns.dnssecalgs.rsa.PrivateRSASHA1 object at 0x7f2460794910>
data = b'O.\x17\xbd\x15\r\xa2Y\xdb\x18\x14\x9b\xb8J\x0fy\xf9$$\xe0\xfd;e\x92\x17l\xdd\xd3\x9f\x8d\x85\xc5qS\xc0.u\x01\x98\x14...x7fq\x7f\xb8\xb8\xef\xd2\xe9x\xd3\xff\xb3\xaf\xbf\xb2\xa4\xb6I\xa87\x96z\x88\xca4\xe0\x87oi\xfd\x8bb\xfa}v\x8d%IC\xee)'
verify = True, deterministic = True

    def sign(
        self,
        data: bytes,
        verify: bool = False,
        deterministic: bool = True,
    ) -> bytes:
        """Sign using a private key per RFC 3110, section 3."""
>       signature = self.key.sign(data, padding.PKCS1v15(), self.public_cls.chosen_hash)
E       cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.

dns/dnssecalgs/rsa.py:66: UnsupportedAlgorithm
================================================================================== short test summary info ==================================================================================
SKIPPED [2] tests/test_async.py:270: systemd-resolved or docker in use
SKIPPED [2] tests/test_async.py:538: httpx not available
SKIPPED [2] tests/test_async.py:550: httpx not available
SKIPPED [2] tests/test_async.py:562: aioquic not available
SKIPPED [2] tests/test_async.py:612: httpx not available
SKIPPED [1] tests/test_doh.py:117: Python httpx cannot be imported; no DNS over HTTPS (DOH)
SKIPPED [1] tests/test_doh.py:91: Python httpx cannot be imported; no DNS over HTTPS (DOH)
SKIPPED [1] tests/test_doh.py:162: Python httpx cannot be imported; no DNS over HTTPS (DOH)
SKIPPED [1] tests/test_doh.py:176: Python httpx cannot be imported; no DNS over HTTPS (DOH)
SKIPPED [1] tests/test_doh.py:104: Python httpx cannot be imported; no DNS over HTTPS (DOH)
SKIPPED [1] tests/test_doh.py:168: Python httpx cannot be imported; no DNS over HTTPS (DOH)
SKIPPED [1] tests/test_doh.py:197: Aioquic cannot be imported; no DNS over HTTP3 (DOH3)
SKIPPED [1] tests/test_doh.py:210: Aioquic cannot be imported; no DNS over HTTP3 (DOH3)
SKIPPED [1] tests/test_doh.py:223: Aioquic cannot be imported; no DNS over HTTP3 (DOH3)
SKIPPED [1] tests/test_doq.py:39: requires aioquic
SKIPPED [1] tests/test_doq.py:55: requires aioquic
SKIPPED [1] tests/test_doq.py:67: requires aioquic
SKIPPED [1] tests/test_resolver.py:802: systemd-resolved or docker in use
SKIPPED [1] tests/test_resolver.py:765: IPv4 not reachable or QUIC not available
FAILED tests/test_async.py::TrioAsyncTests::testQueryUDPFallback - dns.exception.Timeout: The DNS operation timed out after 4.000 seconds
FAILED tests/test_dnssec.py::DNSSECValidatorTestCase::testAbsoluteRSABad - cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.
FAILED tests/test_dnssec.py::DNSSECValidatorTestCase::testAbsoluteRSAGood - cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.
FAILED tests/test_dnssec.py::DNSSECValidatorTestCase::testAlternateParameterFormats - cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.
FAILED tests/test_dnssec.py::DNSSECValidatorTestCase::testDuplicateKeytag - cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.
FAILED tests/test_dnssec.py::DNSSECValidatorTestCase::testRelativeRSABad - cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.
FAILED tests/test_dnssec.py::DNSSECValidatorTestCase::testRelativeRSAGood - cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.
FAILED tests/test_dnssec.py::DNSSECValidatorTestCase::testWildcardGoodAndBad - cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.
FAILED tests/test_dnssec.py::DNSSECSignatureTestCase::testSignatureRSASHA1 - cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.
FAILED tests/test_dnssecalgs.py::DNSSECAlgorithm::test_rsa - cryptography.exceptions.UnsupportedAlgorithm: sha1 is not supported by this backend for RSA signing.
======================================================================= 10 failed, 1326 passed, 24 skipped in 21.49s ========================================================================
```
</details>

**Context (please complete the following information):**
 - dnspython version: 2.7.0
 - Python version. 3.10.0
 - OS: Linux x86/64

Although I am all in favor in continuing to deprecate SHA1, I think Fedora is being a bit aggressive here.  SHA1 is still permitted (and still used) in the DNS, and the standards still require that it MUST be accepted.  See RFC 8624.  There is a current draft to change making signatures to MUST NOT from NOT RECOMMENDED ([draft-ietf-dnsop-must-not-sha1-02](https://www.ietf.org/archive/id/draft-ietf-dnsop-must-not-sha1-02.html)) but even this draft still says that they MUST be verified.

As a DNS testing tool widely used to test nameservers, dnspython needs the ability to make and validate signatures even for deprecated schemes, and given that validating with SHA1 is still required, servers must have a way of making signatures using SHA1 to verify that they can validate them.

As such, I will not not be changing anything substantive in dnspython, though it's possible we could have some test parameter that you could use to suppress the failing tests.